:root {
  --background-color: #313337;
  --background-secondary-color: #18191B;
  --text-dark-color: #58595c;
  --text-light-color: #9598A2;
  --bid-color: #159f48;
  --ask-color: #fa4141;
  --border-color: #313337;
  --box-header-color: #202124;
  --table-header-color: #1D1D21;
}

.scrollbar {
    scrollbar-color: var(--text-dark-color) rgba(255, 0, 0, 0);
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}
  
.scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 0, 0, 0);
}
  
.scrollbar::-webkit-scrollbar-thumb {
    background: var(--text-dark-color);
    border-radius: 100vw;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--text-light-color);
}

.animation-enter-from {
  opacity: 0;
}
  
.animation-enter-active {
  transition: opacity 0.3s ease-out;
}
  
.animation-enter-to {
  opacity: 1;
}